:root {
	--lightGray: #b3b3b3;
	--darkGray: #8d8d8d;
	--orange: #ffa500
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0
}

.App {
	position: relative;
	background-color: var(--darkGray);
}

.container {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
	
}

.note-container{
	background-color: var(--lightGray);
	display: flex;	
	align-items: center;
	justify-content: center;
	border: 5px solid var(--orange);
	width: auto;
	padding: 20px;
	gap: 20px
}

.key-container {
	display: grid;
	grid-template-columns: 90px 90px 90px;

}

button {
	padding: 10px;
	cursor: pointer;
	background-color: var(--darkGray);
}
